<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=LENOVO-PC\SQLEXPRESS;database=db_xzjwb;uid=sa;pwd=1234;Integrated Security=True;"/>
  </appSettings>
  <connectionStrings>
      <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\db_xzjwb1_log.mdf;Integrated Security=True;User Instance=True"
          providerName="System.Data.SqlClient" />
      <add name="db_xzjwbConnectionString" connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=db_xzjwb;Persist Security Info=True;User ID=sa;Password=1234"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
